*_sim
*.pin
*.pof
incremental_db
simulation
*.ptf.*
*.qar
*.qarlog
*.qws
*.rpt
*.smsg
testbench
timing
*_generation_script*
*.jdi
*.jpg
greybox_tmp
*.html
*.mif
*.txt
*~
*example*
*sopc_*
*.bak
*.cmp
*.done
*_inst.vhd
db
*.eqn
*.hex
*.sof
*.sopc_builder
*.summary
*.tcl
*.ddb
*.qpf
*.qsf
*.qdf
*.cdf
*.sdc
*.ocp

NCO/
*.qip

*.stp

*.log

Shift/
*.xml

*.ppf

lab4/V/Clock_Megafunction.v

lab4/V/Clock_Megafunction_bb.v

*.sip

*.spd

lab4/V/FIR_Compiler.v

FIR_COMPILER/

*.f
lab4/V/Shift_Megafunction_ADC.v

lab4/V/Shift_Megafunction_ADC_bb.v

lab4/V/Shift_Megafunction_DAC.v

lab4/V/Shift_Megafunction_DAC_bb.v

V_provided/
*.bsf
